/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.header-top .contact-info {
    font-size: 0.9rem;
}

.header-top .header-buttons .btn {
    background-color: #ff4081;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header-bottom .logo {
    font-size: 1.5rem;
}

.header-bottom .nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.header-bottom .nav ul li a {
    color: white;
    text-decoration: none;
}

/* About styles */
.welcome {
    background: #e70b0b;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

.welcome h1 {
    font-size: 2.5em;
}

.welcome p {
    font-size: 1.2em;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background: #e8491d;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background: #d73617;
}

/* Section styles */
section {
    padding: 60px 0;
    background: linear-gradient(to right, #ff4081, #ffcc00);;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.service {
    margin-bottom: 20px;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    color: #fff;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: linear-gradient(to right, #ff4081, #ffcc00);;
}

/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
